body {
    background-color: #16A085;
    font-family: 'Open Sans', sans-serif;
}

.quote {
    width: 600px;
    min-height: 300px;
    margin: 100px auto;
    background: white;
    padding: 50px;
    color: #16A085;
    font-size: 25px;
    border-radius: 10px;
}

blockquote {
    margin: 0 0 20px;
    text-align: center;
    position: relative;
}

blockquote #text {
    margin-left: 10px;
}

cite {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

.centered {
    margin: 200px auto;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.social {
    margin-right: 5px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #16A085;
    color: white;
    border-radius: 3px;
    text-align: center;
}

.btn {
    float: right;
    background-color: #16A085;
    color: white;
}

.footer {
    display: inline-block;
}


