body {
    background-color: #f8d9ac;
}

.quote {
    width: 500px;
    min-height: 300px;
    margin: 100px auto;
    background: white;
    border: 2px #000000 solid;
    padding: 40px;
}

.centered {
    margin: 200px auto;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.social {
    padding: 0;
    margin: 0;
    display: block;
    height: 50px;
    width: 50px;
    background-color: #f8d9ac;
    text-align: center;
    color: white;
    position:relative;
}
.social-tw {

}

.social-fb {

}